            <!-- Sidebar Holder -->
            <nav id="sidebar">
                <div class="sidebar-header">
                    <h3>Ere Book Mark</h3>
                    <strong>BS</strong>
                </div>
                    
                    <ul class="list-unstyled components">
                        <li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="active" >
                            <a  href="{{menuItem.lien}}" data-toggle="collapse"  aria-expanded="false">
                                <i class="{{menuItem.class}}"> </i>
                               {{menuItem.title}}                                 
                            </a>  
                              <ul  class="collapse list-unstyled"  id="{{menuItem.path}}" >
                                <li *ngFor="let submenu of menuItem.submenu">
                                    <a routerLink="{{submenu.link}}">{{submenu.title}}</a>
                                </li>
                            </ul>                           
                        </li>                         
                    </ul>
                   
                <ul class="list-unstyled CTAs">
                    <li><a href="https://bootstrapious.com/tutorial/files/sidebar.zip" class="download">Ajouter tableau</a></li>
                    <li><a href="https://bootstrapious.com/p/bootstrap-sidebar" class="article">Back to article</a></li>
                </ul>
            </nav>

   
            


