<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header" data-background-color="red">
                      <h4 class="title">Check list</h4>
                      <p class="category"></p>
                  </div>
                  <div class="card-content table-responsive">
                      <table class="table">
                          <thead class="text-danger">
                              <tr>
                                  <th>Environnement</th>
                                  <th>Lien</th>
                                  <th>Actions</th>
                               </tr>
                          </thead>
                          <tbody>
                              <tr>
                                  <td>Dev </td>
                                 <td ><a href="http://wasca85/area/metis/admin/admin-light.jsp#">DEV AREA</a></td>
                                 <td class="td-actions text-right">
                                      <button type="button" rel="tooltip" class="btn btn-info" data-original-title="" title="">
                                          <i class="material-icons">add</i>
                                      </button>
                                      <button type="button" rel="tooltip" class="btn btn-success" data-original-title="" title="">
                                          <i class="material-icons">edit</i>
                                      </button>
                                      <button type="button" rel="tooltip" class="btn btn-danger" data-original-title="" title="">
                                          <i class="material-icons">close</i>
                                      </button>
                                  </td>
                                  
                   
                              </tr>

                              <tr>
                                      <td>Dev </td>
                                     <td ><a href="http://wasca85/aqea/metis/admin/admin-light.jsp#">DEV AQEA</a></td>
                                     <td class="td-actions text-right">
                                          <button type="button" rel="tooltip" class="btn btn-info" data-original-title="" title="">
                                              <i class="material-icons">add</i>
                                          </button>
                                          <button type="button" rel="tooltip" class="btn btn-success" data-original-title="" title="">
                                              <i class="material-icons">edit</i>
                                          </button>
                                          <button type="button" rel="tooltip" class="btn btn-danger" data-original-title="" title="">
                                              <i class="material-icons">close</i>
                                          </button>
                                      </td>
                                      
                       
                                  </tr>
                                  <tr>
                                          <td>Dev </td>
                                         <td ><a href="http://wasd85/claa/metis/admin/admin-light.jsp">DEV CONSOLE</a></td>
                                         <td class="td-actions text-right">
                                              <button type="button" rel="tooltip" class="btn btn-info" data-original-title="" title="">
                                                  <i class="material-icons">add</i>
                                              </button>
                                              <button type="button" rel="tooltip" class="btn btn-success" data-original-title="" title="">
                                                  <i class="material-icons">edit</i>
                                              </button>
                                              <button type="button" rel="tooltip" class="btn btn-danger" data-original-title="" title="">
                                                  <i class="material-icons">close</i>
                                              </button>
                                          </td>
                                          
                           
                                      </tr>
                                      <tr>
                                              <td>HOMOLOGATION</td>
                                             <td ><a href="http://wasck85/claa/metis/admin/admin-light.jsp">HOMOLOGATION CONSOLE</a></td>
                                              
                                             <td class="td-actions text-right">
                                                  <button type="button" rel="tooltip" class="btn btn-info" data-original-title="" title="">
                                                      <i class="material-icons">add</i>
                                                  </button>
                                                  <button type="button" rel="tooltip" class="btn btn-success" data-original-title="" title="">
                                                      <i class="material-icons">edit</i>
                                                  </button>
                                                  <button type="button" rel="tooltip" class="btn btn-danger" data-original-title="" title="">
                                                      <i class="material-icons">close</i>
                                                  </button>
                                              </td>
                               
                                          </tr>
                                          <tr>
                                                  <td>HOMOLOGATION</td>
                                                 <td ><a href="http://wasck85/area/metis/admin/admin-light.jsp">HOMOLOGATION ENTREPRISE</a></td>
                                                 <td class="td-actions text-right">
                                                      <button type="button" rel="tooltip" class="btn btn-info" data-original-title="" title="">
                                                          <i class="material-icons">add</i>
                                                      </button>
                                                      <button type="button" rel="tooltip" class="btn btn-success" data-original-title="" title="">
                                                          <i class="material-icons">edit</i>
                                                      </button>
                                                      <button type="button" rel="tooltip" class="btn btn-danger" data-original-title="" title="">
                                                          <i class="material-icons">close</i>
                                                      </button>
                                                  </td>
                                                  
                                   
                                              </tr>
                                              <tr>
                                                      <td>HOMOLOGATION</td>
                                                     <td ><a href="http://wasck85/aqea/metis/admin/admin-light.jsp">Homologation Part</a></td>
                                                     <td class="td-actions text-right">
                                                          <button type="button" rel="tooltip" class="btn btn-info" data-original-title="" title="">
                                                              <i class="material-icons">add</i>
                                                          </button>
                                                          <button type="button" rel="tooltip" class="btn btn-success" data-original-title="" title="">
                                                              <i class="material-icons">edit</i>
                                                          </button>
                                                          <button type="button" rel="tooltip" class="btn btn-danger" data-original-title="" title="">
                                                              <i class="material-icons">close</i>
                                                          </button>
                                                      </td>
                                                      
                                       
                                                  </tr>
                                                  <tr>
                                                          <td>Preprod</td>
                                                         <td ><a href="http://inscriptions.ppalm.fr/aqea/metis/admin/admin-light.jsp">Preprod AQEA</a></td>
                                                         <td class="td-actions text-right">
                                                              <button type="button" rel="tooltip" class="btn btn-info" data-original-title="" title="">
                                                                  <i class="material-icons">add</i>
                                                              </button>
                                                              <button type="button" rel="tooltip" class="btn btn-success" data-original-title="" title="">
                                                                  <i class="material-icons">edit</i>
                                                              </button>
                                                              <button type="button" rel="tooltip" class="btn btn-danger" data-original-title="" title="">
                                                                  <i class="material-icons">close</i>
                                                              </button>
                                                          </td>
                                                          
                                           
                                                      </tr>
                                                      <tr>
                                                              <td>Preprod</td>
                                                             <td ><a href="http://inscriptions.ppalm.fr/area/metis/admin/admin-light.jsp">Preprod AREA</a></td>
                                                             <td class="td-actions text-right">
                                                                  <button type="button" rel="tooltip" class="btn btn-info" data-original-title="" title="">
                                                                      <i class="material-icons">add</i>
                                                                  </button>
                                                                  <button type="button" rel="tooltip" class="btn btn-success" data-original-title="" title="">
                                                                      <i class="material-icons">edit</i>
                                                                  </button>
                                                                  <button type="button" rel="tooltip" class="btn btn-danger" data-original-title="" title="">
                                                                      <i class="material-icons">close</i>
                                                                  </button>
                                                              </td>
                                                              
                                               
                                                          </tr>
                                                          <tr>
                                                                  <td>Prod</td>
                                                                 <td ><a href="https://inscriptions.ag2rlamondiale.fr/aqea/metis/admin/admin-light.jsp">Prod Aqea</a></td>
                                                                 <td class="td-actions text-right">
                                                                      <button type="button" rel="tooltip" class="btn btn-info" data-original-title="" title="">
                                                                          <i class="material-icons">add</i>
                                                                      </button>
                                                                      <button type="button" rel="tooltip" class="btn btn-success" data-original-title="" title="">
                                                                          <i class="material-icons">edit</i>
                                                                      </button>
                                                                      <button type="button" rel="tooltip" class="btn btn-danger" data-original-title="" title="">
                                                                          <i class="material-icons">close</i>
                                                                      </button>
                                                                  </td>
                                                              </tr>
                          </tbody>
                      </table>

                  </div>
              </div>
          </div>

          
      </div>
  </div>
</div>
